<div >
                
      
    nom:<br> <input path="nom" class="form-control" placeholder="nom" [(ngModel)]="client.nom"/>


<label>prenom:</label>  <br><input path="salle" class="form-control" placeholder="prenom"[(ngModel)]="client.prenom" />
<label>adress:</label>  <br><input path="salle" class="form-control" placeholder="adress"[(ngModel)]="client.adress" />
<label>telephone:</label>  <br><input path="salle" class="form-control" placeholder="telephone"[(ngModel)]="client.telephone" />
<br>

<button class="btn btn-outline-info" (click)="modifierClient()"> envoyer demande</button>

</div>