<br>
<div>
<table class="table table-bordered">
  <thead>
    <tr>
        <th scope="col">numeroCommande</th>
      <th scope="col">date</th>
      <th scope="col">client</th>
      <th scope="col">prix</th>
      <th scope="col">nbr Produit</th>
    
      <th scope="col">action</th>
      
     
     
      
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let commande of pageCommande">
        <th scope="row" >{{commande.numeroCommande}}</th>
        <th scope="row" >{{commande.dateCommande}}</th>
        <th scope="row" >{{commande.client.numeroClient}}</th>
        <th scope="row" >{{commande.prix}}</th>
        <th scope="row" >{{commande.produits.length}}</th>

        
        
        <th>  <button mat-raised-button color="primary" (click)="onEdit(commande.numeroCommande)">editer</button>
           <button mat-raised-button color="warn" (click)="supprimer(commande.numeroCommande)" style="margin-left: 10px;">supprimer</button></th>
        
        
        
      
      
      </tr>
    </tbody>
  </table> 

</div>

<div class="container">

</div>
<div class="card-footer">
  <button class="btn btn-succes" (click)="  ajouter()" > commande</button>
        </div>
<br>

