

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <div class="user-pic">
                <img class="img-circle" src="assets/images/nature/3.PNG" style="width:120px;height:100px;" alt="User picture">
            </div>
            <div >
                <span >
                    <strong>Ghalim Youssef</strong>
                </span><br>
                
                    <span>youssefghalim@gmail.com</span>
                
            </div>
        </div>

        <ul class="list-unstyled components">
         
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home/produit']" routerLinkActive="active">Produit </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/home/client']" routerLinkActive="active">client </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home/facture']" routerLinkActive="active">facture </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home/livraison']" routerLinkActive="active">Livraison </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home/commande']" routerLinkActive="active">commande </a>
        </li>
           
        </ul>

     
    </nav>

    <!-- Page Content Holder -->
    
</div>








