
          <br>
          <br>
          <carousel>
              <slide>
                <img src="assets/images/nature/7.PNG" alt="first slide" style="display: block; width: 100%;" width="500" height="300">
                <div class="carousel-caption d-none d-md-block">
                  <h3>First slide label</h3>
                  
                </div>
              </slide>
              <slide>
                <img src="assets/images/nature/8.PNG" alt="second slide" style="display: block; width: 100%;" width="500" height="300">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Second slide label</h3>
                  
                </div>
              </slide>
              <slide>
                <img src="assets/images/nature/1.PNG" alt="third slide" style="display: block; width: 100%;"width="500" height="300">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Third slide label</h3>
                  
                </div>
              </slide>
            </carousel>
            <br>
<div class="card">
    <div class="card-header bg-info text-white">gestion abonnement</div>
    <div class="card-body">
      <div>
<label >nom</label>
<input  type="text" [(ngModel)]="nom" style="margin-left: 20px;"/>
<button mat-raised-button color="accent"  (click)="chercher()" style="margin-left: 10px;">chercher</button>
<div *ngIf="erreur"> commande n est pas trouver</div>
   
      </div>
      <br>
      <br>
        <table class="table table-bordered">
            <thead>
              <tr>
                  <th scope="col">num</th>
                <th scope="col">photo</th>
                <th scope="col">nom</th>
                <th scope="col">prix</th>
                <th scope="col">quantite</th>
                <th scope="col">action</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let produit of pageProduit?.content">
                  <th scope="row" >{{produit.numeroProduit}}</th>
                 
                  <td>
                    <img src="data:image/jpg;base64,{{produit.photo}}" class="img-responsive" width="100" height="80"/>
                  </td>
                 <td>{{produit.nom}}</td>
                  <td>{{produit.prix}}</td>
                  <td>{{produit.quantite}}</td>
                 
                  
                <td>  <button mat-raised-button color="primary" (click)="onEdit(produit.numeroProduit)">editer</button> 
                  <button mat-raised-button color="warn" (click)="supprimer(produit.numeroProduit)" style="margin-left: 10px;">
                      supprimer</button></td>
                
                </tr>
              </tbody>
            </table> 
      
      </div>

      <div class="container">
        <ul class="nav nav-pills">
          <li *ngFor="let p of pages; let i=index"><a [ngClass]="{active: i==page}" class="dropdown-item" (click)="goToPage(i)">{{i}}</a> </li>
        </ul>
      </div>
      <br>
      <div class="card-footer">
  <button class="btn btn-succes" (click)="  onCreate1()" >ajouter produit</button>
        </div>
    
      </div>
     
     
    
      