<br>
<div>
<table class="table table-bordered">
  <thead>
    <tr>
        <th scope="col">date Livraison </th>
      <th scope="col">numeroLivraison</th>
      <th scope="col">commande</th>
      <th scope="col">action</th>
      <th scope="col">afficher</th>
      
     
      
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let livraison of pageLivraison">
        <th scope="row" >{{livraison.dateLivraison}}</th>
        <th scope="row" >{{livraison.numeroLivraison}}</th>
        <th scope="row" >{{livraison.commande.numeroCommande}}</th>
        <th>  <button mat-raised-button color="primary" (click)="onEdit(livraison.numeroLivraison)">editer</button>  <button mat-raised-button color="warn" (click)="supprimer(livraison.numeroLivraison)" style="margin-left: 10px;">
              supprimer</button></th>

              <th><button class="btn btn-outline-success" (click)="lister(livraison.numeroLivraison)">afficher</button></th>
                  
      
        
        
        
      
      
      </tr>
    </tbody>
  </table> 

</div>

<div class="container">

</div>
<div class="card-footer">
  <button class="btn btn-succes" (click)="  onCreate1()" >ajouter une livraison</button>
        </div>
<br>
